.Container {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Image {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}

.Text {
  color: var(--color-red);
}
