:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-light: #eeeeee;
  --color-yellow: #fcc314;
  --color-green: #94ac3c;
  --color-blue: #295ba7;
  --color-red: #a72929;

  background-color: var(--color-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
